<html>
    <head>
        <title>Temperature monitoring</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="refresh" content="300">

        <link rel="shortcut icon" href="/public/img/humidity.png" type="image/png" />
        <link rel="stylesheet" type="text/css" href="/public/css/main.css">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <script>
window.temperatureData = [
{{#each payload}}
[{{this.nseconds}}, {{this.temperature}}],
{{/each}}
]

window.humidityData = [
{{#each payload}}
[{{this.nseconds}}, {{this.humidity}}],
{{/each}}
]
        </script>

        <script src="/public/js/main.js"></script>
    </head>
    <body>
    <div class="title">
        <img src="/public/img/humidity.png"/>
        {{last.temperature}}°C {{last.humidity}}%
        </div>
        <div id="container"></div>
    </body>
</html>
